.delete-q-modal{
    height: 200px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: #06c0d1 1px solid;
}
