.button-container > button{
    background: none;
    height: 40px;
    width: 100px;
    color: #06c0d1;
    border-radius: 20px;
    transition: transform 0.2 ease-in-out;
}

.button-container{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.button-container > button:hover{
cursor: pointer;
transform: scale(1.02);
}


.start-button{
    margin-top: 20px;
    background: none;
    height: 70px;
    width: 300px;
    color: #04a1af;
    background-color: lightgray;
    border-radius: 20px;
    transition: transform 0.2 ease-in-out;
    font-size: 28px;
}

.start-button:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.details-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.deck-title{
    font-size: 60px;
}

.details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 10%;
    gap: 40px;
    margin-bottom: 20px;
    justify-items: center;
    border-top: lightgray 1px solid;
    margin-top: 50px;
}

.review-card{
    margin-top: 25px;
    border: 2px black solid;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    width: 95%;
    height: 90%;
    overflow: auto;
}

.review-pic{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.my-pic{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.review-pic:hover{
cursor: pointer;
}

.review-head-div{
    display: flex;
    justify-content: space-between;
}

.stars-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rev-button-container > button {
        background-color: #06c0d1;
        border-radius: 20px;
        height: 40px;
        width: 100px;
        margin-bottom: 20px;
        transition: transform 0.2s ease-in;
}
.rev-button-container > button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.rev-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
