.com-answers-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 500px;
    width: 500px;
}

.com-correct-answers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: row;
}

.com-incorrect-answers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: row;
}

.com-wrong-answer-num{
    margin-left: 20px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.com-right-answer-num{
    margin-left: 5px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: green;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.com-title{
    width: 130px;
}

.com-rev-button > button {
        background-color: #06c0d1;
        border-radius: 20px;
        height: 40px;
        width: 100px;
        margin-bottom: 20px;
        transition: transform 0.2s ease-in;
}


.com-rev-button > button:hover {
    cursor: pointer;
    transform: scale(.95);
    background-color: #037b86;
}
