.signup-container {
    height: 800px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: #06c0d1 1px solid;
}

.form-input-signup {
    height: 30px;
    width: 450px;
    border-radius: 5px;
    border: 1px #06c0d1 solid;
}

.form-input-signup-des {
    height: 70px;
    width: 450px;
    border-radius: 5px;
    border: 1px #06c0d1 solid;
}

.login-button:hover{
    cursor: pointer;
}


#modal-content::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
