.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.decks-div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: auto;
    width: 100%;
}

.profile-des{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: lightgray 2px solid;
    border-radius: 5px;
    padding: 50px;
}

.profile-pic{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.profile-deck{
    width: 400px;
    height: 130px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
}

.profile-deck:hover{
    transform: scale(1.02);
}

.profile-deck-title{
    cursor: pointer;
}


.question-buttons-div > button {
    cursor: pointer;
}

.deck-buttons-div > button {
    cursor: pointer;
}

.badge{
    height: 100px;
    width: 100px;
}

.badges-div{
    width: 400px;
    height: 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 10%;
    gap: 40px;
    margin-bottom: 20px;
    justify-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.buffer-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.badge-text{
    font-size: 12px;
}

.badge-div {
    position: relative;
  }

  .tool-tip-text {
    background-color: #06c0d1;
    color: white;
    border-radius: 7px;
    padding: 5px 10px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .tool-tip-text::before{
    position: fixed;
    content: '';
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 5px solid;
    border-color: #000 #0000 #0000 #0000;
  }

  .badge-div:hover .tool-tip-text {
    visibility: visible;
    opacity: 1;
  }


  .deck-edit-div > button {
    cursor: pointer;
    width: 100%;
    height: 50%;
    background-color: #06c0d1;
    border: 1px solid black;
    border-radius: 10px
  }

  .deck-delete-div > button {
    cursor: pointer;
    width: 100%;
    height: 50%;
    background-color: #06c0d1;
    border: 1px solid black;
    border-radius: 10px
  }

  .deck-delete-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
  }


  .deck-button-cont{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }


  .cat-stat-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .stat-div{
    margin: 20px;
    overflow: hidden;
    white-space: nowrap;
  }

  .question-buttons-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .question-buttons-div > button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin-right: 10px;
    background-color: #06c0d1;
    border: 1px solid black;
    border-radius: 10px
  }

  .answer-stat-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .stats-div{
    display: flex;
    border: lightgray 1px solid;
    border-radius: 10px;
    width: 100%;
  }

  .answer-num-correct{
    color: green;
    font-size: 34px;
  }

  .answer-num-incorrect{
    color: red;
    font-size: 34px;
  }

  .bar{
    color: #06c0d1;
    background-color: #06c0d1;
  }

  progress[value]{
  background-color: #06c0d1;
  }

  progress{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: #06c0d1;
  }

  progress::-webkit-progress-bar{
    border-radius: 10px;
    background-color: lightgray;
  }

  progress::-webkit-progress-value{
    border-radius: 10px;
    background-color: #06c0d1;
  }

  .question-button{
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: #06c0d1;
    border: 1px solid black;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
  }

  .deck-button{
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: #06c0d1;
    border: 1px solid black;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
  }

  .question-button:hover{
    background-color: #079dab;
    transform: scale(1.02);
  }

  .deck-button:hover{
    background-color: #079dab;
    transform: scale(1.02);
  }

  .des-pic{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
