#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: auto;
  border-radius: 5px;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

#modal-content {
  position: relative;
  background-color: white;
  overflow-y: auto;
  max-height: 80%;
  max-width: 80%;
  z-index: 1001;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

/* width */
#modal-content::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

 /* Height */
 #modal-content::-webkit-scrollbar-vertical {
  height: 2px;
}

/* Track */
#modal-content::-webkit-scrollbar-track {
  background: #e2e1e1;
  border-radius: 20px;
  border: 1px solid rgb(176, 176, 176);
  width: 50px;
}

/* Handle */
#modal-content::-webkit-scrollbar-thumb {
  background: #06c0d1;
  border-radius: 20px;
}

/* Handle on hover */
#modal-content::-webkit-scrollbar-thumb:hover {
  background: #079dab;
  }
